<form method="post">
        <table border="0">
            <tr>
                <td align="right"><b>name : </b></td>
                <td><input type="text" name="name" size="30" maxlength="20"></td>
            </tr>
            <tr>
                <td align="right"><b>price : </b></td>
                <td><input type="text" name="price" size="30" maxlength="20"></td>
            </tr>
            <tr>
                <td align="right"><b>kind : </b></td>
                <td><input type="text" name="kind" size="30" maxlength="20"></td>
            </tr>
            <tr>
                <td align="right"><b>feature : </b></td>
                <td><input type="text" name="feature" size="30" maxlength="20"></td>
            </tr>
        </table>
        <input type="submit" value="send">
    </form>